<section class="image">
  <div class="image-container">

  </div>
</section>
<section class="contacts">
  <header class="applicant section__title">
    <h1 class="applicant__name">Henry Soaz</h1>
    <h3 class="applicant__desired-position"> UI/UX Designer </h3>
  </header>
  <main class="contacts__content">
    <div class="contact address">
      <i class=""></i>
      <div class="address__content"> Address Line, Example Street, 123 B/2 678 </div>
    </div>
    <div class="contact tel">
      <i class=""></i>
      <div class="tel__content">008 659 864 4568</div>
    </div>
    <div class="contact site">
      <i class=""></i>
      <div class="site__content">
        <a href="https://www.example.com">www.ownsite.com</a>
      </div>
    </div>
    <div class="contact email">
      <i class=""></i>
      <div class="email__content">
        <a href="mailto:contact@email.com">contact@email.com</a>
      </div>
    </div>
  </main>
</section>
<section class="section profile">
  <h2 class="section__title section__title-font">Profile</h2>
  <div class="section__content">
    <p class="profile__description">
      Sapien enim dapibus parturient vel cum adipiscing a adipiscing a eu a senectus a scelerisque nisi a platea interdum egestas
      libero metus parturient ultrices mi egestas duis consectetur vitae.Habitant tempor ullamcorper vestibulum ullamcorper
      in volutpat ridiculus tempus risus class aliquet quisque maecenas cum ac dis eleifend.
    </p>
  </div>

</section>
<section class="section skills">
  <h2 class="section__title section__title-font">Skills</h2>
  <div class="section__content">
    <app-skill [level]="level.photography">
      <h4 class="skill-photo">Photography</h4>
    </app-skill>
    <app-skill [level]="level.webDesign">
      <h4 class="skill-design">Web Design</h4>
    </app-skill>
    <app-skill [level]="level.uiux">
      <h4 class="skill-uiux">UI/UX</h4>
    </app-skill>
  </div>
</section>
<section class="hobbies">
  <h2 class="section__title section__title-font">Hobbies</h2>
  <div class="section__content">
      
  </div>
</section>