<section class="image">
  <div class="image-container">

  </div>
</section>
<section class="contact">
  <header class="section-title contact__header">
    <h1 class="sidebar-title name">Henry Soaz</h1>
    <h3 class="sidebar-subtitle job"> UI/UX Designer </h3>
  </header>
  <main class="contact__contacts">
    <div class="address">
      <i class=""></i>
      <div class="address__content"> Address Line, Example Street, 123 B/2 678 </div>
    </div>
    <div class="tel">
      <i class=""></i>
      <div class="tel__content">008 659 864 4568</div>
    </div>
    <div class="site">
      <i class=""></i>
      <div class="site__content">
        <a href="https://www.example.com">www.ownsite.com</a>
      </div>
    </div>
    <div class="email">
      <i class=""></i>
      <div class="email__content">
        <a href="mailto:contact@email.com">contact@email.com</a>
      </div>
    </div>
  </main>
</section>
<section class="profile">
  <h2 class="section-title sidebar-title profile__title">Profile</h2>
  <p class="profile__content">
    Sapien enim dapibus parturient vel cum adipiscing a adipiscing a eu a senectus a scelerisque nisi a platea interdum egestas
    libero metus parturient ultrices mi egestas duis consectetur vitae.Habitant tempor ullamcorper vestibulum ullamcorper
    in volutpat ridiculus tempus risus class aliquet quisque maecenas cum ac dis eleifend.
  </p>
</section>
<section class="skills">
  <h2 class="section-title sidebar-title skills__title  ">Skills</h2>
  <div class="skills__content">
    <app-skill [level]="level.photography">
      <h4 class="skill-photo">Photography</h4>
    </app-skill>
    <app-skill [level]="level.webDesign">
      <h4 class="skill-design">Web Design</h4>
    </app-skill>
    <app-skill [level]="level.uiux">
      <h4 class="skill-uiux">UI/UX</h4>
    </app-skill>
  </div>
</section>
<section class="hobbies">
  <h2 class="section-title sidebar-title hobbies__title">Hobbies</h2>
</section>