<section class="section">
  <h2 class="section__title">Languages</h2>
  <div class="lang-container">
    <div class="lang">
      <div class="lang__name green-font">Level 1</div>
      <div class="lang__dial"></div>
    </div>
    <div class="lang">
      <div class="lang__name red-font">Level 2</div>
      <div class="lang__dial"></div>
    </div>
    <div class="lang">
      <div class="lang__name blue-font">Level 3</div>
      <div class="lang__dial"></div>
    </div>
  </div>
  <p class="lang-presentation"></p>
</section>