<header class="header applicant clearfix">
  <div class="row">
    <div class="applicant__image col-lg-2 col-md-3  col-sm-4 block-center-sm block-center-xs">
      <img alt="" class="img-responsive img-rounded face" src="../../assets/images/man-303792_640.png">
    </div>
    <div class="applicant__info col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      <h1 class="applicant__name text-center-sm text-center-xs">Johan Doe</h1>
      <div class="applicant__objective text-center-sm text-center-xs">Lorem ipsum dolor sit amet, duis eu, elementum dictum amet egestas. Ac eros donec venenatis libero. Molestie cras rutrum
        praesent at parturient aliquam uscipi venenatis libero Molestie cras rutrum praesent at parturient</div>
    </div>
  </div>
</header>