<section class="section experience">
  <h2 class="section__title">Work experience</h2>
  <section class="main-subsection experience__subsection">
      <h3 class="company"> Company 01</h3>
      <h5 class="date">2010-2013</h5>
      <h5 class="job">Graphic Designer</h5>
      <p class="job-description">A habitasse platea sagittis duis a dui tempus dui at per inceptos a dictumst.</p>
  </section>
  <section class="main-subsection experience__subsection">
      <h3 class="company"> Company 02</h3>
      <h5 class="date">2013-2016</h5>
      <h5 class="job">Art Director</h5>
      <p class="job-description">Eu himenaeos vestibulum nulla nisl non arcu eget nec dis nibh placerat dictumst ad.</p>
  </section>
</section>
